<span style="color: #608b4e;"># LANÃ‡AMENTOS PADRONIZADOS</span>

<span style="color: #608b4e;">## COMPRAS</span>

In [ ]:
SELECT * FROM CT5010 
WHERE CT5_LANPAD IN ('640','641','642','650','651','652','655','656','657','660','661','665','950','955') AND D_E_L_E_T_ <> '*'
ORDER BY 2, 3;

<span style="color: #608b4e;">## FATURAMENTO</span>

In [ ]:
SELECT * FROM CT5010 
WHERE CT5_LANPAD IN ('610','613','620','630','633','635') AND D_E_L_E_T_ <> '*'
ORDER BY 2, 3;